.fc-toolbar {
    background: #ffffff;
    padding: 8px;
    border: 1px solid #ebebeb;
    border-radius: 8px;
}

.fc-view-harness, .fc-view, .fc-scrollgrid {
    background: #ffffff;
    border-radius: 8px;
}

.fc-toolbar-title {
    font-size: 1rem !important;
}

.fc-col-header-cell-cushion {
    color: #3a477b;
    text-decoration: none;
}

.fc-button:focus, .fc-button-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.fc-button-active, .fc-button-active:focus {
    background: #456895 !important;
    border-color: #456895 !important;
}

.fc-button-primary {
    background: #3a477b !important;
    border-color: #3a477b !important;
}

.fc-day-today {
    background: rgba(211, 219, 232, 0.3) !important;
    color: #ffffff !important;
}
